@model ToDoList.Models.GroupsTasksViewModel
@using Microsoft.AspNetCore.Html

@{
    ViewData["Title"] = "List";
    var userOptionTasks = Model.Users
        .Select(x => new SelectListItem { Value = x.User.Id.ToString(), Text = x.User.Email })
        .ToList();

    Func<bool?, IHtmlContent> MakeNoteThree =
    @<li>
        <h4>@(item == true ? "Private group:" : item == false ? "Public group:" : "")</h4>
        @foreach (var groups in Model.GroupItems)
        {
            @if (groups.IsPrivate == item && (item == false || item == true))
            {
                <div>
                    <a asp-action="Index"
                       asp-route-id="@groups.Id"
                       asp-controller="Home">
                        @groups.Name
                    </a>
                    @if (groups.AdminUserId == ViewBag.UserId)
                    {
                        <a asp-action="EditGroup"
                           asp-route-id="@groups.Id"
                           asp-controller="Group"
                           name="edit">
                            edit
                        </a>
                    }
                </div>
            }
            else if (groups.IsPrivate == item && item == null)
            {
                <div>
                    <a asp-action="Index" asp-route-id="@groups.Id" asp-controller="Home">@groups.Name</a>
                </div>
            }
        }
    </li>;
}

@functions {
    string AssignCheck(bool? assign, string isAssign, string process, string isNull)
    {
        return assign == true ? isAssign : assign == false ? process : isNull;
    }
}

<div class="main-content">
    <div class="nav-content">
        <div class="nav-btn">
            <a asp-action="CreateGroup" asp-controller="Group" class="btn-a">Create group</a>
        </div>
        <ul>
            @MakeNoteThree(null)

            @MakeNoteThree(true)

            @MakeNoteThree(false)
        </ul>
    </div>
    <div class="task-content">
        <div class="task-list">
            <div class="task-list_title">
                <span>Group: <strong>@ViewBag.GroupName.Name</strong></span>
                <a asp-action="Create" asp-controller="Home" class="btn-a">New task</a>
            </div>
            @* task block *@
            @foreach (var tasks in Model.Tasks)
            {
                <div class="list-item">
                    <label class="task-status">
                        <input type="checkbox" checked="@tasks.isAssign">
                        @if (tasks.isAssign != null)
                        {
                            @if (tasks.UserId == ViewBag.UserId)
                            {
                                <a asp-action="FinishTask"
                                   asp-controller="Home"
                                   asp-route-taskId="@tasks.Id"
                                   asp-route-groupId="@tasks.GroupItemId"
                                   class="@AssignCheck(@tasks.isAssign, "checkmark s-assign", "checkmark s-process", "checkmark s-isNull")">
                                </a>
                            }
                            else
                            {
                                <a class="@AssignCheck(@tasks.isAssign, "checkmark s-assign", "checkmark s-process", "checkmark s-isNull") is-assign"></a>
                            }
                        }
                        else
                        {
                            <a class="checkmark s-isNull"></a>
                        }
                        <i>@AssignCheck(@tasks.isAssign, "is done", "in process", "not assign")</i>
                    </label>
                    
                    <span>@tasks.Title</span>
                    <div class="list-item__take">
                        <form class="@(tasks.isAssign == true ? "assignDisabled" : "")"
                              asp-action="AddAssign" asp-controller="Home" asp-route-tasksId="@tasks.Id" id="assign" method="post">
                            <select name="AssignUserId" asp-items="@userOptionTasks">
                                <option selected="@(tasks.isAssign == null ? "" : tasks.isAssign == false ? "selected" : "")"
                                        disabled="@(tasks.isAssign == false || tasks.isAssign == true ? "disabled" : "")">
                                    @(tasks.isAssign == false ? tasks.Users.Email : tasks.isAssign == true ? tasks.Users.Email : "Assign user")
                                </option>
                            </select>
                            <input type="submit" class="btn-a" value="assign" />
                        </form>
                    </div>
                    <div class="list-item-content">
                        <i>@tasks.ReleaseDate</i>
                        <br />
                        <pre>@tasks.Text</pre>

                        <div class="list-item__link">
                            <a asp-action="Delete" asp-route-id="@tasks.Id" class="btn-a">delete</a>
                            <a asp-action="Edit" asp-route-id="@tasks.Id" class="btn-a">edit</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        @* members block *@
        @if (!ViewBag.IsMytask)
        {
            <div class="list-users">
                <span>Members group:</span>
                <ol>
                    @foreach (var u in Model.Users)
                    {
                        <li>@u.User.Email @(u.UserId == ViewBag.UserId ? " - A" : "")</li>
                    }
                </ol>
                <form asp-action="AddUserForGroup" asp-controller="Home" method="post" id="addUser">
                    <label for="newUser">Add user:</label>
                    <input type="text" id="newUser" name="Name" placeholder="put down email user" value="@ViewBag.UserErrorName" />
                    <input type="text" name="GroupId" value="@ViewBag.GroupName.Id" class="hidden" />
                    <span>@ViewBag.UserErrorMessage</span>
                    <input type="submit" value="Add" />
                </form>
            </div>
        }
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

@section Scripts {
    <script type="text/javascript">
        $("#assign").validate({
            rules: {
                AssignUserId: {
                    required: true,
                }

            },
            messages: {
                AssignUserId: "Nothing select"
            }
        });
    </script>
}

