@model ToDoList.Models.GroupsTasksViewModel

@{
    ViewData["Title"] = "List";
    var userOptionTasks = Model.Users
        .Select(x => new SelectListItem { Value = x.User.Id.ToString(), Text = x.User.Email })
        .ToList();
}

@functions {

    string AssignCheck(bool? assign, string isAssign, string process, string isNull)
    {
        return assign == true ? isAssign : assign == false ? process : isNull;
    }

}

<div class="main-content">
    <div class="nav-content">
        @*@ViewData["UserEmail"]*@
        <div class="nav-btn">
            <a asp-action="CreateGroup" asp-controller="Group" class="btn-a">New group</a>
        </div>
        <ul>
            <li>
                @foreach (var groups in Model.GroupItems)
                {
                    if (groups.IsPrivate == null)
                    {
                        <section>
                            <a asp-action="Index" asp-route-id="@groups.Id" asp-controller="Home">@groups.Name</a>
                        </section>
                    }
                }
            </li>
            <li>
                <h4>Private group:</h4>
                @foreach (var groups in Model.GroupItems)
                {
                    if (groups.IsPrivate == true)
                    {
                        <div>
                            <a asp-action="Index"
                               asp-route-id="@groups.Id"
                               asp-controller="Home">
                                @groups.Name
                            </a>
                            <a asp-action="EditGroup"
                               asp-route-id="@groups.Id"
                               asp-controller="Group">
                                @(groups.UserRole == "Admin" ? "edit" : "")
                            </a>
                        </div>
                    }
                }
            </li>
            <li>
                <h4>Public group:</h4>
                @foreach (var groups in Model.GroupItems)
                {
                    if (groups.IsPrivate == false)
                    {
                        <div>
                            <a asp-action="Index"
                               asp-route-id="@groups.Id"
                               asp-controller="Home">
                                @groups.Name
                            </a>
                            <a asp-action="EditGroup"
                               asp-route-id="@groups.Id"
                               asp-controller="Group">
                                edit
                            </a>
                        </div>
                    }
                }
            </li>
        </ul>
    </div>
    <div class="task-content">
        <div class="task-list">
            <div class="task-list_title">
                <span>Group: <strong>@ViewBag.GroupName.Name</strong></span>
                <a asp-action="Create" asp-controller="Home" class="btn-a">New task</a>
            </div>
            @* task block *@
            @foreach (var tasks in Model.Tasks)
            {
                <div class="list-item">
                    <label class="task-status">
                        <input type="checkbox" checked="@tasks.isAssign">
                        <a class="@AssignCheck(@tasks.isAssign, "checkmark s-assign", "checkmark s-process", "checkmark s-isNull")" asp-action="FinishTask" asp-controller="Home" asp-route-taskId="@tasks.Id"></a>
                        <i>@AssignCheck(@tasks.isAssign, "is done", "in process", "not assign")</i>
                    </label>

                    <span>@tasks.Title</span>
                    <div class="list-item__take">
                        <form asp-action="AddAssign" asp-controller="Home" asp-route-tasksId="@tasks.Id" id="assign" method="post">
                            <select name="AssignUserId" asp-items="@userOptionTasks">
                                <option selected="@(tasks.isAssign == null ? "" : tasks.isAssign == false ? "selected" : "")"
                                        disabled="@(tasks.isAssign == false || tasks.isAssign == true ? "disabled" : "")">
                                    @(tasks.isAssign == false ? tasks.Users.Email : tasks.isAssign == true ? tasks.Users.Email : "Assign user")
                                </option>
                            </select>
                            <input type="submit" class="btn-a" value="take" />
                        </form>
                    </div>
                    <div class="list-item-content">
                        <i>@tasks.ReleaseDate</i>
                        <br />
                        <pre>@tasks.Text</pre>

                        <div class="list-item__link">
                            <a asp-action="Delete" asp-route-id="@tasks.Id" class="btn-a">delete</a>
                            <a asp-action="Edit" asp-route-id="@tasks.Id" class="btn-a">edit</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="list-users">
            <span>Members group:</span>
            <ol>
                @foreach (var u in Model.Users)
                {
                    <li>@u.User.Email</li>
                }
            </ol>
            <form asp-action="AddUserForGroup" asp-controller="Home" method="post" id="addUser">
                <label for="newUser">Add user:</label>
                <input type="text" id="newUser" name="Name" placeholder="put down email user" value="@ViewBag.UserErrorName" />
                <input type="text" name="GroupId" value="@ViewBag.GroupName.Id" class="hidden" />
                <span>@ViewBag.UserErrorMessage</span>
                <input type="submit" value="Add" />
            </form>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

@section Scripts {
    <script type="text/javascript">
        $("#assign").validate({
            rules: {
                AssignUserId: {
                    required: true,
                }

            },
            messages: {
                AssignUserId: "Nothing select"
            }
        });
    </script>
}


@*<div class="new-task">
        <form asp-antiforgery="true" asp-action="Create" asp-controller="Home" id="newTaskForm">
            <input type="text" placeholder="Write your task title..." name="Title" />
            <textarea placeholder="Write your text..." name="Text"></textarea>
            <input type="text" name="ReleaseDate" value="@DateTime.Now" style="display:none" />

            <input type="submit" class="add-task" value="Add new task" />
        </form>
    </div>
    <div class="list-tasks">
        @foreach (var item in Model)
    {
        <div class="list-item">
            <h3>@item.Title</h3>

            <div>
                <i>@item.ReleaseDate</i>
                <br />
                <pre>@item.Text</pre>
                <div class="list-item__link">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        </div>
        }

    </div>*@

