@model ToDoList.ViewModels.CreateGroupViewModel
@using ToDoList.ViewModels

@{
    ViewBag.Title = "Group";

    IEnumerable<PublicUserViewModel> users = ViewBag.Users;
}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/chose/chosen.jquery.min.js"></script>


<div class="create-group">
    @using (Html.BeginForm("CreateGroup", "Group", FormMethod.Post))
    {
        <p>
            @Html.LabelFor(l => l.Name, "Name:")
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { placeholder = "Put down new group" } })
        </p>

        <p>
            @Html.LabelFor(l => l.IsPrivate, "Public:")
            @Html.RadioButton("isPrivate", false, true)
        </p>
        <p>
            @Html.LabelFor(l => l.IsPrivate, "Private:")
            @Html.RadioButton("isPrivate", true, false)
        </p>
        <span>Members:</span>
        <p>
            @Html.DropDownListFor(m => m.Users,
                users.Select(x => new SelectListItem
                {
                    Text = x.Email,
                    Value = x.Id.ToString()
                }), new { @class = "form-control chosen-select", @multiple = "true" })
        </p>
        <p>
            <input type="text" class="hidden" name="UserRole" value="Admin" />
        </p>
        <p>
            <input type="submit" value="Add new group" />
        </p>
    }
</div>



@section Scripts {
    <script type="text/javascript">
        $('.chosen-select')
            .chosen(
                {
                    placeholder_text_multiple: "Choose members",
                    no_results_text: "Oops, nothing found!",
                    width: "100%"
                })
    </script>
}
